@model _2013114400_ENT.Entities.Ensambladora

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ensambladora</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnsambladoraId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
